* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
@font-face {
  font-family: "kfont";
  src: url("../font/AaXianXiaShaoNian-2.ttf");
}
body {
  background-color: #00ddff33;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.a {
  height: 260px;
  display: grid;
  grid-template-columns: auto 320px;
  grid-gap: 20px;
}
.a1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff00 50%);
  border: 2px solid #fff;
  border-radius: 14px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.a11 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.a11 > img:nth-child(2) {
  height: 60px;
  transform: translate(-15px, -15px);
  scale: 2;
}
.a12 {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-gap: 20px;
  text-indent: 2em;
  line-height: 1.6;
  font-size: 18px;
  font-family: "kfont";
  word-break: break-all;
}
.a12_ {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 18px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.a2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff00 50%);
  border: 2px solid #fff;
  border-radius: 14px;
  overflow: hidden;
}
.a21 {
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #fff;
  border-radius: 16px 16px 0 0;
  position: relative;
  display: flex;
}
.a211 {
  position: absolute;
  top: 30px;
  right: 30px;
}
.a211 > img {
  width: 60px;
  border: 3px solid #fff;
  border-radius: 60px;
}
.a22 {
  height: 50px;
  padding: 10px;
  display: flex;
}
.a22_ {
  height: 30px;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 10px;
  padding: 8px;
  display: flex;
}
.a22_1 {
  height: 14px;
}
.a22_2 {
  height: 14px;
  margin-left: 4px;
  line-height: 14px;
  font-size: 12px;
  font-family: serif;
}
.a23 {
  height: 100px;
  padding: 0 10px;
  display: flex;
}
.a23_ {
  width: 140px;
  min-width: 140px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 20px 100px;
  grid-template-rows: 40px 20px 20px;
  gap: 0px;
}
.a23_1 {
  width: 100%;
  padding: 4px;
  grid-column: 1/3;
  font-size: 12px;
  font-family: serif;
  overflow: hidden;
}
.a23_2 {
  width: 20px;
  height: 20px;
}
.a23_2 > img {
  width: 12px;
  margin: 4px;
}
.a23_3 {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-family: "Consolas", "Courier New", monospace;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: pink;
  overflow: hidden;
}
.a24 {
  width: 100%;
  height: 50px;
  border-radius: 0 0 16px 16px;
  padding: 10px;
  display: grid;
  grid-template-columns: 30px 150px 30px 60px;
  gap: 10px;
}
.a241,
.a243,
.a2411,
.a2431 {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.5s;
}
.a24111 {
  height: 16px;
  margin: 7px;
}
.a242 {
  height: 30px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 15px;
  white-space: nowrap;
}
.a2421 {
  width: 100%;
  overflow: hidden;
}
.a24211 {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  color: #00ddff;
}
.a244 {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  color: #0df;
}
.a2411.clicked {
  transform: translateX(-5px) rotateZ(-30deg);
  transition: transform 0.2s ease-in-out;
}
.a2431.clicked {
  transform: translateX(5px) rotateZ(30deg);
  transition: transform 0.2s ease-in-out;
}
.b {
  display: grid;
  grid-template-columns: 265px 265px 265px 265px;
  gap: 20px;
}
.b1 {
  border: 2px solid #fff;
  border-radius: 14px;
  position: relative;
}
.b11 {
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, #00ddff33 0%, #ffff 100%);
  border-radius: 14px 14px 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.b111 {
  height: 30px;
  margin-right: 10px;
  line-height: 30px;
  font-size: 20px;
  font-family: serif;
  font-weight: 600;
  color: #666;
}
.b112 {
  height: 30px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 14px;
  font-family: serif;
  font-weight: 500;
  color: #999;
}
.b12 {
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 14px 14px;
  padding: 10px;
}
.b121 {
  width: 245px;
  height: 100px;
  border-radius: 12px;
}
.b122 {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  display: flex;
}
.b1221 {
  width: 30px;
  height: 30px;
}
.b1221 > img {
  width: 20px;
  border-radius: 50%;
  margin: 5px 0;
}
.b1222 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.b123 {
  width: 60px;
  background-color: #00ddff33;
  border: none;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
}
.c {
  width: 100%;
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 20px;
}
.c1 {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
}
.c11 {
  width: 100%;
  height: 200px;
  border-radius: inherit;
}
.c12 {
  width: 100%;
  margin: 5px 0;
  display: flex;
  gap: 10px;
}
.c121 {
  height: 26px;
  border: 1px solid #0df;
  border-radius: 30px;
  padding: 5px 7px;
  display: flex;
  gap: 4px;
}
.c1211,
.c1212 {
  height: 14px;
  margin: auto;
}
.c1212 {
  line-height: 14px;
  font-size: 12px;
  color: #0df;
}
.d {
  width: 100%;
  margin-top: 200px;
}
.d1 {
  height: 44px;
}
.d11 {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  font-family: "Consolas", "Courier New", monospace;
}
