header {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 14px;
  display: flex;
  flex-direction: column;
  font-family: B, D;
}
.main {
  width: 100%;
  box-shadow: 0 0 1px;
  margin: 10px 0;
  padding: 14px;
}
footer {
  width: 100%;
  box-shadow: 0 0 1px;
  padding: 14px;
}

/* header */
.header-nav {
  width: 100%;
  height: 24px;
  line-height: 26px;
  display: flex;
}
.header-nav-item {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}
.header-nav-turn {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  position: relative;
}
.header-nav-item:hover,
.header-nav-turn:hover {
  background-color: #5555;
}

.turn-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.turn-icon img {
  width: 16px;
  height: 16px;
  margin: 4px 3px;
}
.turn-result {
  display: none;
  padding: 5px 0;
  position: absolute;
  top: 26px;
  width: 100px;
  max-height: 106px;
  border-radius: 5px;
  background-color: #5555;
  overflow: auto;
}
.turn-result .turn-item {
  position: relative;
  width: 100%;
  height: 24px;
  padding: 0 5px;
  font-size: 12px;
  color: #fff;
}
.turn-result .turn-item:hover {
  background-color: #fff5;
}

.header-title {
  margin-top: auto;
  width: 100%;
  padding: 5px;
  font-size: 24px;
  font-weight: 1000;
  color: #fff;
}

.header-data {
  width: 100%;
  height: 24px;
  line-height: 26px;
  display: flex;
}
.header-data div {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}
.header-data div:hover {
  background-color: #5555;
}
