.kcenter-header {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

/* header */
.header-nav {
  width: 100%;
  height: 24px;
  line-height: 24px;
  display: flex;
  gap: 1px;
}
.header-nav-item {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
}
.header-nav-turn {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  position: relative;
}
.header-nav-item:hover,
.header-nav-turn:hover {
  background-color: #5555;
}

.turn-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.turn-icon img {
  width: 16px;
  height: 16px;
  margin: 4px 3px;
}
.turn-result {
  padding: 5px 0;
  position: absolute;
  top: 26px;
  width: 100px;
  max-height: 130px;
  border-radius: 5px;
  background-color: #5555;
  overflow: auto;
  display: none;
}
.turn-result .turn-item,
.turn-result .turn-item1 {
  position: relative;
  width: 100%;
  height: 24px;
  padding: 0 5px;
  font-size: 0.85em;
  color: #fff;
  font-family: comfortaa, songti;
}
.turn-result .turn-item:hover,
.turn-result .turn-item1:hover {
  background-color: #fff5;
}

.header-data {
  width: 100%;
  height: 24px;
  margin-top: auto;
  line-height: 26px;
  display: flex;
  gap: 1px;
}
.header-data div {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
}
.header-data div:hover {
  background-color: #5555;
}

.kcenter-main {
  width: 100%;
  margin: 30px 0;
}
.kcenter-main h1 {
  text-align: center;
}
.kcenter-main .notice {
  width: 100%;
  padding: 18px;
  margin: 30px 0;
  border-radius: 10px;
  background-color: rgba(255, 166, 0, 0.5);
  line-height: 1.4;
  font-family: confortaa, songti;
  font-weight: bold;
}
.kcenter-main h3 {
  padding: 0px 18px;
  margin-top: 20px;
}
.kcenter-main p {
  padding: 0px 18px;
  margin-bottom: 20px;
}

.kcenter-main .openBtns {
  padding: 0 18px;
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
  font-family: comfortaa;
}
.kcenter-main .openBtns div {
  height: 22px;
  line-height: 24px;
  padding: 0px 6px;
  border-radius: 5px;
  background-color: #eee;
  font-size: 1em;
  cursor: pointer;
}

.kcenter-main .codeBoxs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.kcenter-main .codeBoxs > div {
  width: 100%;
  padding: 10px 18px;
  border-radius: 10px;
  background-color: #eee;
  white-space: pre-wrap;
  font-family: mono;
  font-size: 12px;
}
.kcenter-main .openBtns div:hover,
.kcenter-main .codeBoxs > div:hover {
  background-color: rgba(255, 166, 0, 0.5);
}

iframe {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #fff;
  outline: 1px dashed #000;
}

footer {
  width: 100%;
  box-shadow: 0 0 1px;
  padding: 14px;
}
