.kright-container {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}
nav ul {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
nav ul li {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}